.panel-default>.panel-heading {
	background-color: $accordion_header_color;
}

.panel-default {
	border-color: $accordion_border_color;
}


.plantImage {
	
}

.disabledHeading {
	color: $accordion_disabled_border_text_color;
	font-weight: lighter;
	font-style: italic;
}

 a:hover,a:focus .disabledHeading {
	color: inherit;
	text-decoration: none;
}

.speciesImage{
  cursor:pointer;
}
