<div class="confirm-modal-header">
	<h3 id="content_modal_header">{{modalOptions.headerText}}</h3>
</div>
<div class="confirm-modal-body">
	<p  id="content_modal_text">{{modalOptions.bodyText}}</p>
</div>
<div class="modal-footer">

	<button class="btn btn-primary" data-ng-click="modalOptions.ok();" id="link_modal_ok">{{modalOptions.actionButtonText}}</button>
	<button type="button" class="btn" data-ng-click="modalOptions.close()"  id="link_modal_cancel">{{modalOptions.closeButtonText}}</button>
</div>